@import "tailwindcss";

@font-face {
    font-family: "ppedit";
    src: url("../public/fonts/PPEditorialNew-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }


  .custom-font {
    font-family: "ppedit", sans-serif;
  }
  